# Force arquivos .R a serem detectados como linguagem R
*.R linguist-language=R

# Se estiver usando R Markdown (.Rmd) e quiser que contribua como R, remova o status "prose"
*.Rmd linguist-detectable=true

